/*tarjeta */
@font-face {
  font-family: "Bebas-Bold";
  src: url(../../fonts/BebasNeueBold.otf) format("truetype");
}

.tarjeta {
  height: 21rem;
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.imageCard {
  height: 15rem;
}
.buttonGrid {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.containerName {
  margin-left: 1rem;
  margin-top: 1rem;  
}

.favoriteButton {
  margin-top: 0.5rem;
  margin-left: 6rem;
} 